/*
      Yes,
      I know,
      it's a mess :)
*/

@import url(modules/reset.css);
@import url(modules/header.css);
@import url(modules/card.css);
@import url(modules/footer.css);

html {
   scroll-behavior: smooth;
}

div.central-container {
   max-width: 800px;
   min-width: 60%;
   margin: auto;
   /*border: 1px solid black; */
   padding: 10px;
}

div.central-container > h1{
   display: inline-block;
   border-bottom: 5px solid #4267B2;
   margin: 0px;
   padding-top: 20px;
   font-size: 1.5em;
}

section.article-section {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   
   @media screen and (max-width: 700px) {
      grid-template-columns: repeat(1, 1fr);
   }


   border-top: 2px solid #4267B2;
   margin-bottom: 20px;
}

/* CONFIGURANDO AS CATEGORIAS */

section.categories {
   display: grid;
   grid-template-columns: repeat(5, 1fr);
   grid-auto-rows: 100px;
   gap: 5px;
   padding: 10px;

   @media screen and (max-width: 700px){
      grid-template-columns: repeat(2, 1fr);
   }
}

section.categories div.categorie-item {
   background-image: url("../images/estudando.jpg");
   background-position: right right;
   background-repeat: no-repeat;
   background-size: cover;
   
   border-radius: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
}

section.categories div.categorie-item a {
   font-weight: 700;
   font-size: 1.5em;
   color: white;
   text-shadow: 4px 3px 0px #7A7A7A;
   text-decoration: none;

   @media screen and (min-width: 700px){
      font-size: 1.3em;
   }
}
/* FIM -- CATEGORIAS */

/* ABA SOBRE O PROJETO */

section.about-the_project {
   background-color: #4267B2;
   display: flex;
   align-items: center;
   justify-content: center;

   min-height: 80vh;
   padding: 40px;
   margin-bottom: 30px;
}

section.about-the_project div{
   min-width: 60vw;
   max-width: 800px;
   text-align: justify;
}

section.about-the_project div h1 {
   color: white;
   font-size: 1.8em;
}
section.about-the_project div h2 {
   color: white;
   font-size: 1.3em;
}
section.about-the_project div p{
   color: white;
}

/* FIM -- SOBRE O PROJETO */

/* Voltar para o topo */

button {
   padding: 10px;
   display: none;
   align-items: center;
   justify-content: center;
   background-color: #03030345;
   border-radius: 50%;
   border: 0px;

   position: fixed;
   right: 20px;
   bottom: 20px;
}

@media screen and (min-width: 1500px) {
   section.central-container h1 {
      font-size: 1.6em
   }
}
